---
title: Plan du site
layout: layouts/page.njk
permalink: /plan-du-site.html
---

<h1>Plan du site</h1>

<ul>
  <li>
    <a href="/" class="router-link-active">Accueil</a>
  </li>
  <li>
    <a href="/components/" class="" target="_self">Composants</a>
  </li>
  <li>
    <a href="/" class="" target="_self">L'île au trésor</a>
    <ul>
      <li>
        <a href="/ile-au-tresor/chapitre-1/" class="" target="_self">L'île au trésor - Chapitre 1</a>
      </li>
      <li>
        <a href="/ile-au-tresor/chapitre-2/" class="" target="_self">L'île au trésor - Chapitre 2</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="/" class="" target="_self">Mermaid</a>
    <ul>
      <li>
        <a href="/mermaid/mermaid-01/" class="" target="_self">Mermaid 01</a>
      </li>
      <li>
        <a href="/mermaid/mermaid-02/" class="" target="_self">Mermaid 02</a>
      </li>
      <li>
        <a href="/mermaid/mermaid-03/" class="" target="_self">Mermaid 03</a>
      </li>
      <li>
        <a href="/mermaid/mermaid-04/" class="" target="_self">Mermaid 04</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="/sticky-footer/" class="" target="_self">Demo sticky footer</a>
  </li>
</ul>
