#jumbo {
  background-color: var(--background-default-grey-hover);
}

#jumbo .fr-h3 {
  font-weight: 400 !important;
}

#jumbo-types {
  background-color: var(--background-alt-blue-france);
}

#jumbo-references .fc-cards-wrapper {
  margin-left: auto;
  margin-right: auto;
  /* 306px => width of one card */
  width: calc(306px * 3);
}
