@import './../../styles/_colors.scss';
@import './../../styles/_variables.scss';

#identity-provider-search {
  .ant-form-item-label {
    margin-bottom: $spacer;
    text-align: left !important;

    > label {
      color: $charcoal-grey;
      display: block;
      font-size: 18px;
      height: auto;
      line-height: 1.8rem;
    }
  }

  .ant-input-group-compact {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ant-form-item-control button,
  .ant-select-auto-complete input {
    height: 60px;
  }

  .ant-select-auto-complete {
    width: 100%;

    & input {
      border: 1px solid $charcoal-grey;
    }

    & input:hover,
    & input:focus {
      border: 1px solid $primary;
      box-shadow: 0 0 0 1px $primary;
    }
  }

  .ant-form-item-control {
    & button {
      display: inline-block;
      margin-left: 0;
      margin-top: $spacer;
      width: 210px;
    }

    & button:hover {
      text-decoration: underline;
    }
  }
}

@media (min-width: $breakpoint-mobile) {
  #identity-provider-search {
    .ant-form-item-label {
      text-align: center !important;
    }

    .ant-input-group-compact {
      flex-direction: row;
    }

    .ant-select-auto-complete {
      max-width: 600px;
      width: 55%;
    }

    .ant-form-item-control {
      & button {
        margin-left: $spacer;
        margin-top: 0;
      }
    }
  }
}
