@import './../../styles/_colors.scss';
@import './../../styles/_variables.scss';

#identity-provider-search {
  .ant-form-item-label {
    margin-bottom: $spacer;
    text-align: left;

    > label {
      color: $charcoal-grey;
      display: block;
      font-size: 18px;
      height: auto;
      line-height: 1.8rem;
    }
  }

  .ant-input-group > *:first-child {
    // wrapper span du text input
    border: 1px solid #d9d9d9;
    border-radius: 0.25rem;
    height: 60px;
  }

  .ant-form-item-control {
    & button {
      display: inline-block;
      height: 60px;
      margin-left: 0;
      margin-top: $spacer;
      width: 210px;
    }

    & button:hover {
      text-decoration: underline;
    }
  }

  .ant-input-search > .ant-input-group > .ant-input-group-addon {
    // supprime l'effet qui sert à effacer la bordure droite du champs texte
    display: block;
    left: 0;
    width: 100%;
  }
}

@media (min-width: $breakpoint-mobile) {
  #identity-provider-search {
    .ant-form-item-label {
      text-align: center;
    }

    .ant-form-item-control {
      & button {
        margin-left: $spacer;
        margin-top: 0;
      }
    }

    .ant-input-search > .ant-input-group > .ant-input-group-addon {
      display: table-cell;
      width: 1px;
    }
  }
}
