<!DOCTYPE html>
<html>
  <head>
    <title>Redirection temporaire</title>

    <!-- TODO trouver une meilleure manière de rediriger vers la partie react sous docker -->
    <script type="text/javascript">
      document.location.href="https://fca-front.docker.dev-franceconnect.fr/interaction/<%=locals.uid%>";
    </script>
  </head>
  <body>
  </body>
</html>
