<!DOCTYPE html>
<html>

<body>
  <p>Si vous n'êtes pas redirigé automatiquement, merci de cliquer sur le bouton suivant</p>
  <input type="submit" form="op.logoutForm" value="Continuer"/>
  <%- oidcProviderLogoutForm %>
  <script>
    var form = document.forms[0];
    form.submit();
  </script>
</body>

</html>
