*,
a {
  color: #034ea2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  width: 100%;
  background: #ededed url(../../img/marianne_background.png) no-repeat right 1% bottom
    fixed;
}

#mire {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mire > .content {
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 0px 4px #888;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  padding: 16px 0;
  border-bottom: solid 1px #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  display: block;
  text-align: center;
  font-size: 1.4rem;
}

header img {
  max-height: 60px;
  width: auto;
  display: block;
}

.mire__development {
  width: calc(100% - 32px);
  padding: 16px;
  margin-bottom: 48px;
  border: solid 3px #cc2222;
}

.mire__development * {
  color: #cc2222;
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: bold;
}

.mire__development a {
  color: #034ea2;
}

main {
  padding: 16px 16px 80px;
}

main > p {
  width: 100%;
  font-size: 1.5rem;
  max-width: 768px;
  color: #3e4553;

}

main > p + p {
  width: 100%;
  font-size: 1.5rem;
}

main p span {
  margin-top: 16px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000091;
  display: block;
}

.main__provider-used {
  margin-bottom: 32px;
}

.main__providers {
  width: 100%;
  margin: 16px 0 80px;
}

.main__remember-choice {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.main__remember-choice label {
  font-size: 1.4rem;
  line-height: 1.2rem;
}

.main__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 16px;
}

.main__footer a {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

footer {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

footer a {
  width: 80%;
  text-align: center;
  font-size: 1.4rem;
  color: #555;
}
@media screen and (min-width: 576px) {
  main > p {
    text-align: center;
  }
 

  .main__footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  footer a {
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  main {
    padding: 16px 32px 80px;
  }
}

@media screen and (min-width: 1024px) {
  #mire .content {
    max-width: 1150px;
  }

  header {
    padding: 16px 24px;
  }

  .main__sign-in {
    max-width: none;
  }

  .main__chose-fi {
    max-width: none;
  }

  .main__remember-choice {
    margin-bottom: 76px;
  }
}

/** Identity providers **/
.identity-provider {
  display: flex;
  justify-content: center;
}

.identity-provider .icon-container {
  width: 60px;
  height: 60px;
  margin: 0 16px 0 0;
}

.identity-provider .icon-container img{
  border-radius: 8px;
  width: 100%;
}

.identity-provider button {
  width: 100%;
  max-width: 376px;
  padding: 16px;
  margin: 8px 0;
  box-shadow: 0 0 3px rgba(0, 0, 145, 0.3);
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 150ms ease, box-shadow 150ms ease;
  box-sizing: border-box;
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  color: #3e4553;
  display: flex;
  align-items: center;
}

.identity-provider button span, .identity-provider button strong {
  font-size: 16px;
  display: block;
  text-align: left;
  color: #3e4553;
  line-height: 1.31;
}

.identity-provider button span {
  font-weight: normal;
  margin-bottom: 5px;
}

.identity-provider button strong {
  font-weight: bold;
}

.identity-provider button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  border: none;
}

.identity-provider button:not(:disabled):hover {
  background-color: transparent;
  box-shadow: 0 0 6px rgba(0, 0, 145, 1);

}


/** Error message **/
.error-message {
  width: 80%;
  padding: 16px;
  border: solid 1px #cc2222;
  margin-bottom: 48px;
}

.error-message > .content p {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.error-message > .content .more {
  padding-top: 16px;
  border-top: solid 1px #f1b0b7;
}

.error-message > .content .more > ul {
  margin-bottom: 16px;
  padding-left: 40px;
  list-style-type: disc;
}

.error-message > .content .more > ul:last-child {
  margin-bottom: 0;
}

.error-message > .content .more ul * {
  font-size: 1.4rem;
  line-height: 1.6rem;
}


/** tuto section **/
.tuto-container {
  background-color: #f2f4ff;
  border-radius: 8px;
  padding: 24px 16px;
  max-width: 728px;
}

.tuto-container .logos-container {
  display: none;
  justify-content: space-around;
  align-items: center;
  margin: 16px 0;
}

.tuto-container h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000091;
}

.tuto-container p {
  margin: 16px 0 24px;
  font-size: 0.9rem;
  line-height: 1.43rem;
  color: #3e4553;
}

.tuto-container button {
  width: 100%;
  height: 68px;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: transparent;
  border-radius: 8px;
  border: solid 1px #000091;
  color: #000091;
  max-width: 350px;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .tuto-container {
    text-align: center;
  }
  
  .tuto-container .logos-container {
    display: flex;
  }

  .tuto-container button {
    height: 50px;
  }
}
@media screen and (min-width: 768px) {
  .tuto-container {
    padding: 24px 16px;
  }

  .tuto-container .logos-container {
    margin: 25px 0;
  }
}