---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    labels:
      - dependencies
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/admin"
    labels:
      - dependencies
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    versioning-strategy: increase
    ignore:
      - dependency-name: "@types/node"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "npm"
    directory: "/back"
    labels:
      - dependencies
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    versioning-strategy: increase
    ignore:
      - dependency-name: "@types/node"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "npm"
    directory: "/quality"
    labels:
      - dependencies
    schedule:
      interval: "weekly"
    versioning-strategy: increase
    cooldown:
      default-days: 7
    ignore:
      - dependency-name: "@types/node"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/"
    labels:
      - dependencies
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker-compose"
    directory: "/"
    labels:
      - dependencies
    schedule:
      interval: "weekly"
