<div id="numeric-identity" tabindex="-1" role="dialog" aria-hidden="true">
  <div id="popin">
    <div class="popin-inner">
      <span id="popin-close" aria-label="Close">Masquer </span>
      <h1>Comment créer son identité numérique</h1>
      <p>
        Une identité numérique est un <strong>compte dont les informations d'identité ont été vérifiées</strong> par envoi d'un justificatif et dont la sécurité est <strong>assurée par un double facteur</strong> (votre code secret vous sera demandé via une application lors de la connexion).
      </p>
      <p>
        Pour créer une identité numérique <strong>vous devez être majeur(e)</strong> et <strong>disposer d'un smartphone</strong> Android ou iPhone.
      </p>
      <ol class="steps">
        <li>
            Téléchargez l'application d'un des partenaires de FranceConnect+
        </li>

        <li>
            Inscrivez-vous chez ce partenaire grâce à votre pièce d'identité
            <span>
              Le processus de vérification de votre pièce d'identité peut être long ou interrompre votre démarche.
            </span>
        </li> 

        <li>
            Choisissez le code confidentiel que vous utiliserez lors de vos démarches
        </li>
      </ol>
      <p><strong>C'est terminé !</strong> Vous pouvez désormais utiliser votre identité numérique sécurisée avec FranceConnect+</p>
    </div>
  </div>
</div>
