stages:
  - Code quality
  - test
  - End to end
  - Cache
  - Review
  - Build Back
  - Build Front
  - Tag Back
  - Tag Front
  - Post-deploy

include:
  - "/back/.gitlab-ci.yml"
  - "/front/.gitlab-ci.yml"
  - ".gitlab-ci-security-scanning.yml"
