<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('includes/head') %>
    <title><%= locals.titleFront %></title>
  </head>

  <body>
    <%- include('includes/menu') %>
    <section class="welcome">
      <div class="container text-center">
        <a class="btn">Login</a>
      </div>
    </section>
    <%- include('includes/footer') %>
  </body>
</html>
