<div>
  <form
    action="https://eidas-bridge.docker.dev-franceconnect.fr/<%= locals.uid %>/login"
    method="POST"
  >
    <button id="post-authorize" type="submit" class="btn no-pad" role="button">
      <img
        src="/img/FCboutons-10.svg"
        alt="Connexion FC"
        class="d-inline-block align-top"
      />
    </button>
  </form>
</div>
