<footer id="footer-v2">
    <nav class="footer-nav">
        <a class="h6 text-white text-decoration-none" href="/">Conditions Générales d’Utilisation</a>
        <a class="h6 text-white text-decoration-none" href="/">Informations légales</a>
        <a class="h6 text-white text-decoration-none" href="/">Consultez notre FAQ</a>
    </nav>
</footer>