<footer id="footer-v2">
  <nav class="footer-nav">
    <a href="/">Conditions Générales d’Utilisation</a>
    <a href="/">Informations légales</a>
    <a href="/">Consultez notre FAQ</a>
  </nav>
</footer>