<nav class="navbar navbar-light pt-2 ">
    <div class="menu-container d-flex justify-content-between flex-wrap">
        <div class="logos-container d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="/">
                <img id="marianne-logo" src="/img/marianne-logo.svg" alt="Logo de la marianne" class="d-inline-block align-top">
            </a>
            <a class="navbar-brand ml-4 mr-0" href="/">
                <img id="fc-plus-logo" src="/img/logo-fc-plus.svg" alt="Logo FC Plus" class="d-inline-block align-top">
            </a>
        </div>
        
        <div class="d-flex previous-link-container mt-3 px-3 py-2">
            <a class="previous-link d-block d-flex align-items-center" href="/..">
                <img src="/img/retour-icone.svg" alt="Flèche de retour en arrière" class="mr-2 icon-previous">
                <span class="m-0 font-weight-regular">Revenir à l'écran précédent</span>
            </a>
        </div>
    </div>
</nav>
