<nav>
  <div class="menu-container">
      <div class="logos-container">
          <a href="/">
            <img id="marianne-logo" src="/img/marianne-logo.svg" alt="Logo de la marianne">
          </a>
          <a href="/">
            <img id="fc-plus-logo" src="/img/logo-fc-plus.svg" alt="Logo FC Plus">
          </a>
      </div>
      <div class="previous-link-container">
          <a class="previous-link" href="/..">
            <img src="/img/retour-icone.svg" alt="Flèche de retour en arrière">
            <span>Revenir à l'écran précédent</span>
          </a>
      </div>
  </div>
</nav>
