<!-- As a link -->
<nav class="navbar navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/img/agent_connect.svg" alt="Logo AgentConnect" height="60" class="d-inline-block align-top">
    </a>

    <ul class="navbar-nav">
      <% if (locals.idpIdentity) { %>
      <li class="nav-item">
        <a class="nav-link nav-logout" href="/logout">Se déconnecter</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link ac-bouton-bleu" href="/login"></a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
