<div
  id="new-interface-notice"
  class="fr-notice fr-notice--info fr-pt-2w fr-mb-2w"
  role="alert"
>
  <div class="fr-container">
    <div class="fr-notice__body">
      <p>
        <span class="fr-notice__title">Nouvelle interface !</span>
        <br class="fr-hidden fr-unhidden-md"/>
        Nous avons amélioré votre expérience de connexion pour la rendre plus
        claire. <b>Vos identifiants restent identiques.</b>
      </p>

      <button
        id="notice-close"
        title="Masquer le message"
        type="button"
        class="fr-btn--close fr-btn"
      >
        Masquer le message
      </button>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/unshow-notice.js" defer></script>
