services:
  ####################
  # SP Mocks
  ####################

  fsa1-low:
    hostname: fsa1-low
    extends:
      file: ../shared/shared.yml
      service: base-sp-mock
    env_file:
      - '../shared/.env/base-app.env'
    environment:
      NESTJS_INSTANCE: mock-service-provider-fca-low
      NODE_ENV: fsa1-low

  fsa2-low:
    hostname: fsa2-low
    extends:
      file: ../shared/shared.yml
      service: base-sp-mock
    env_file:
      - '../shared/.env/base-app.env'
    environment:
      NESTJS_INSTANCE: mock-service-provider-fca-low
      NODE_ENV: fsa2-low

  fsa3-low:
    hostname: fsa3-low
    extends:
      file: ../shared/shared.yml
      service: base-sp-mock
    env_file:
      - '../shared/.env/base-app.env'
    environment:
      NESTJS_INSTANCE: mock-service-provider-fca-low
      NODE_ENV: fsa3-low

  fsa4-low:
    hostname: fsa4-low
    extends:
      file: ../shared/shared.yml
      service: base-sp-mock
    env_file:
      - '../shared/.env/base-app.env'
    environment:
      NESTJS_INSTANCE: mock-service-provider-fca-low
      NODE_ENV: fsa4-low

  ####################
  # IDP Mocks
  ####################

  fia1-low:
    hostname: fia1-low
    extends:
      file: ../shared/shared.yml
      service: base-idp-mock
    env_file:
      - '../shared/.env/base-app.env'
    environment:
      NESTJS_INSTANCE: mock-identity-provider-fca-low
      NODE_ENV: fia1-low

  fia2-low:
    hostname: fia2-low
    extends:
      file: ../shared/shared.yml
      service: base-idp-mock
    env_file:
      - '../shared/.env/base-app.env'
    environment:
      NESTJS_INSTANCE: mock-identity-provider-fca-low
      NODE_ENV: fia2-low

  moncomptepro:
    hostname: moncomptepro
    extends:
      file: ../shared/shared.yml
      service: base-idp-mock
    env_file:
      - '../shared/.env/base-app.env'
    environment:
      NESTJS_INSTANCE: mock-identity-provider-fca-low
      NODE_ENV: moncomptepro

  fia-rie-low:
    hostname: fia-rie-low
    extends:
      file: ../shared/shared.yml
      service: base-idp-mock
    env_file:
      - '../shared/.env/base-app.env'
    environment:
      NESTJS_INSTANCE: mock-identity-provider-fca-low
      NODE_ENV: fia-rie-low
    networks:
      - rie

  identity-provider-llng:
    build:
      context: '../..'
      dockerfile: 'builds/lemonldap/Dockerfile'
    volumes:
      - '../../volumes/llng/scripts/:/scripts:ro'
      - '../../volumes/llng/llng-conf.json:/llng-conf.json:ro'
    env_file:
      - '../fca-low/.env/fia-llng-low.env'
    networks:
      - rie

  ####################
  # DP Mocks
  ####################

  dpa1-low:
    hostname: dpa1-low
    extends:
      file: ../shared/shared.yml
      service: base-dp-mock
    env_file:
      - '../shared/.env/base-app.env'
      - '../fca-low/.env/dpa1-low.env'

  dpa2-low:
    hostname: dpa2-low
    extends:
      file: ../shared/shared.yml
      service: base-dp-mock
    env_file:
      - '../shared/.env/base-app.env'
      - '../fca-low/.env/dpa2-low.env'
