---
title: Accueil
layout: layouts/base.njk
eleventyNavigation:
  order: 0
  key: accueil
  title: Accueil
permalink: /
---

{% from "components/component.njk" import component with context %}

{% css 'body' %}
<link rel="stylesheet" href="/css/fc.dsfr.css" />
<link rel="stylesheet" href="/css/pages/home.css" />
{% endcss %}

<div id="jumbo">
  <div class="fr-container fr-py-12w">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12">
        <h1>
          Devenir partenaire de FranceConnect
        </h1>
        <p class="fr-h3">
          FranceConnect est un dispositif d'identification qui facilite l'accès aux services numériques et garantit la sécurisation des informations transmises
        </p>
      </div>
    </div>
  </div>
</div>

<div class="fr-container fr-py-12w">
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-mb-5v">
    <div class="fr-col-12">
      <h2 class="fc-text--center">
        Pourquoi utiliser FranceConnect ?
      </h2>
      <p class="fr-text--lead fc-text--center">
        FranceConnect est le dispositif d'identification proposé par l'État qui facilite l'accès aux services numériques.
        <br />
        <b>Plus de 40 millions d'utilisateurs actifs l'utilisent déjà sur plus de 1500 services actifs !</b>
      </p>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
    {% for item in collections.pourquoiUtiliserFC | sortByOrder %}
      {{ component("home/block", { item: item.data }) }}
    {% endfor %}
  </div>
</div>

<div id="jumbo-types">
  <div class="fr-container fr-py-12w">
    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-mb-5v">
      <div class="fr-col-12">
        <h1 class="fc-text--center">
          Les différents types de partenaires
        </h1>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
      {% for item in collections.partnersTypes | sortByOrder %}
        {{ component("home/block", { item: item.data }) }}
      {% endfor %}
    </div>
  </div>
</div>

<div class="fr-py-12w" id="jumbo-references">

  <div class="fr-container">
    <div class="fr-grid-row">
      <h1 class="fr-col-12 fc-text--center">
        Références FranceConnect / FranceConnect+
      </h1>
    </div>
  </div>

  <section class="fr-container fr-mt-6v">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12">
        <h3 class="fc-text--center fr-mb-1w">
          Fournisseurs de service
        </h3>
        <p class="fr-text--xl fc-text--center">
          Retrouvez la liste de certains acteurs engagés
        </p>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters fc-cards-wrapper">
      {% for item in collections.referencesFcFs | sortByOrder %}
        {{ component("home/provider", { item: item.data }) }}
      {% endfor %}
    </div>
  </section>

  <section class="fr-container fr-mt-8w">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12">
        <h3 class="fc-text--center fr-mb-1w">
          Fournisseurs d'identité
        </h3>
        <p class="fr-text--xl fc-text--center">
          Retrouvez-les sur l'espace de connexion FranceConnect et FranceConnect+
        </p>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters fc-cards-wrapper">
      {% for item in collections.referencesFcFi | sortByOrder %}
        {{ component("home/provider", { item: item.data }) }}
      {% endfor %}
    </div>
  </section>

</div>