// ----------------- COLORS
// BOOTSTRAP DEFAULT VARIABLES
// @see https://raw.githubusercontent.com/twbs/bootstrap/main/scss/_variables.scss
$primary: #034ea2 !default;
$blue-cornflower: #66a1e4 !default;
$orange-tacao: #f4a381 !default;
$green-shamrock: #40d496 !default;
$charcoal: #3e4553 !default;

$theme-colors: (
  'primary': $primary,
  'orange-tacao': $orange-tacao,
  'green-shamrock': $green-shamrock,
  'blue-cornflower': $blue-cornflower,
  'charcoal': $charcoal
);
