[
  {rabbit, [
    {loopback_users, []}
  ]},
  {autocluster, [
    {peer_discovery_backend, rabbit_peer_discovery_classic_config}
  ]},
  {rabbit_peer_discovery_classic_config, [
    {nodes, ['rabbit@broker-1', 'rabbit@broker-2', 'rabbit@broker-3']}
  ]},
  {rabbitmq_management, [
    {load_definitions, "/etc/rabbitmq/definitions.json"}
  ]}
].
