---
layout: layouts/base.njk
---

<div class="fr-container fr-py-8v">
  <div class="fr-grid-row">
    <div class="fr-col-12">{{ content | safe }}</div>
  </div>
</div>
<div>
<ul>
  {% for entry in collections.all %}
    {% if entry.url %}
      <li>
        <a href="{{ entry.url }}">
          <code>{{ entry.data.title }} - {{ entry.url }}</code>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
</div>
