// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss#L239

// $rem-baseline: 10px;
// $body-font-size: 16px;

/* *****************************************************************

  Bootstrap default breakpoints

***************************************************************** */

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;

/* *****************************************************************

  Bootstrap Spacer

***************************************************************** */

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 3.5,
  7: $spacer * 4,
  8: $spacer * 4.5,
  9: $spacer * 5,
  10: $spacer * 5.5,
) !default;

/* *****************************************************************

 AgentConnect Customs

***************************************************************** */

// Ajout du helper pour la gestion des tailles de polices
// Ex: font-12, font-22
$fontsizes: (12, 14, 16, 18, 22, 24) !default;

// Ajout du helper pour la gestion des tailles d'élément en %
// Ex: w-35, w-60
$widthsizes: (10, 15, 20, 30, 35, 40, 45, 55, 60, 65, 70, 80, 85, 90);
