eidas-bridge:
  stage: 'End to end'
  image: ${E2E_DOCKER_IMAGE}
  tags:
    - cypress
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      variables:
        BDD_TAGS: '@ci and not @ignore'
    - if: '$CI_COMMIT_BRANCH == "staging"'
      variables:
        BDD_TAGS: 'not @ignore'
  variables:
    TZ: 'Europe/Paris'
    CYPRESS_PLATFORM: 'fcp-high'
    CYPRESS_TEST_ENV: 'docker'
    CYPRESS_INTERNAL_BROWSER_CONNECT_TIMEOUT: 120000
  cache:
    key: ${CACHE_KEY}
    policy: pull
    paths:
      # Back
      - back/node_modules/
      # Front
      - front/node_modules/
      - front/instances/agent-connect/node_modules/
      - front/instances/user-dashboard/node_modules/
      # Quality
      - quality/node_modules/
      # Cypress
      - cache/Cypress
  before_script:
    # Test Scope definition
    - BDD_TAGS=${BDD_TAGS_EIDAS:-$BDD_TAGS}
    - echo "BDD_TAGS=$BDD_TAGS"
    # Ensure a clean docker environnement
    - shopt -s expand_aliases
    - alias docker-stack=$FC_ROOT/fc/docker/docker-stack
    - docker-stack prune-ci
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - if [[ ! -d $FC_ROOT/mocks ]]; then cp -R /var/www/mocks $FC_ROOT/; fi
    - RETURN_CODE=0
    # Bind sources in docker volumes
    - ln -s $CI_PROJECT_DIR $FC_ROOT/fc/docker/volumes/src/fc
    - ln -s $FC_ROOT/fc/front/instances/user-dashboard $FC_ROOT/fc/docker/volumes/src/user-dashboard
    - for mock in `find $FC_ROOT/mocks -maxdepth 1 -mindepth 1 -type d`; do cd $mock && git fetch && git checkout -f origin/master && git clean -df && echo "Installing depedencies for $(/usr/bin/basename $mock)" && npm install; ln -sfn $mock $FC_ROOT/fc/docker/volumes/src; done
    # Return to project directory
    - wait
    - cd $CI_PROJECT_DIR
  script:
    # Install Cypress on the runner and fetch node_modules
    - cd $CI_PROJECT_DIR/quality/fcp
    - yarn install
    # Up the docker-stack with minimal requirement
    - docker-stack up min-eidas-high
    - docker exec fc_core-fcp-high_1 bash -c "yarn config set proxy $PROXY_EXPLOITATION && yarn config set https-proxy $PROXY_EXPLOITATION"
    - docker-stack start-all-ci
    # Ensure the required apps are running
    - docker-stack wait "core-fcp-high" "https://core-fcp-high.docker.dev-franceconnect.fr/api/v2/.well-known/openid-configuration"
    - docker-stack wait "eidas-bridge" "https://eidas-bridge.docker.dev-franceconnect.fr/.well-known/openid-configuration"
    # Run Visual BDD tests and abort if failed
    - $CI_PROJECT_DIR/back/scripts/ci/broadcast.sh "Starting visual checks"
    - yarn test:eidas:snapshot
    # Run Functional BDD tests
    - $CI_PROJECT_DIR/back/scripts/ci/broadcast.sh "Starting Quality checks with tags $BDD_TAGS"
    - yarn test:eidas -c video=${CYPRESS_VIDEO} --env TAGS="$BDD_TAGS" || RETURN_CODE=1
    - yarn report
    # Exit if return code equals 1
    - if [ $RETURN_CODE -ne 0 ]; then $CI_PROJECT_DIR/back/scripts/ci/extract-pm2-logs.sh && (docker cp fc-rp-all:/var/log/nginx /tmp/artifacts-logs || echo "[fc-rp-all] No NginX logs found") && exit $RETURN_CODE; fi
  interruptible: true
  artifacts:
    expire_in: 1 hrs
    when: always
    paths:
      - back/instances/eidas-bridge/cypress/screenshots
      - back/instances/eidas-bridge/cypress/videos
      - back/instances/eidas-bridge/cypress/logs
      - quality/fcp/cypress/reports/cucumber/html-report
      - quality/fcp/cypress/snapshots/diff
      - artifacts-logs
  after_script:
    - bash $CI_BUILDS_DIR/france-connect/fc/docker/docker-stack halt
    - docker container prune -f && docker volume prune -f && docker network prune -f
