@import './../../styles/_colors.scss';

.fca-identity-providers-select {
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background: transparent;
    color: $primary;
    font-weight: bold;
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background: transparent;
    color: $primary;
    text-decoration: underline;
  }
}
