variables:
  PROXY_EXPLOITATION: 'http://$EXPLOITATION_PROXY_HOST:$EXPLOITATION_PROXY_PORT'

front:
  image: ${FC_DOCKER_REGISTRY}/nodejs:${NODE_VERSION}-dev
  stage: 'Code quality'
  tags:
    - node
  rules:
    - if: '$CI_PIPELINE_SOURCE != "merge_request_event" && $CI_COMMIT_BRANCH != "staging"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: manual
    - if: '$CI_COMMIT_BRANCH == "staging"'
  cache:
    key: ${CACHE_KEY}
    policy: pull
    paths:
      # Front
      - front/node_modules/
      - front/instances/agent-connect/node_modules/
      - front/instances/user-dashboard/node_modules/
  script:
    # front folder
    - cd front/
    - yarn install
    - yarn test --coverage
    - yarn prettier
    - yarn lint
    - ../coverage.sh
    # - yarn tsc --noEmit
  coverage: '/Global coverage is: \[([\d\.]+)%\]/'
  interruptible: true

include:
  - 'front/instances/**/.gitlab-build.yml'
