<html>

<head>
  <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
  <div style="width: 400px; margin: auto; margin-top: 200px; text-align: center;">
    <h1>DEMO : Page liste des IdP</h1>
    <form method="POST" action="/api/v2/redirect-to-idp" id="fs-request" name="fs-request">
      <input name="providerName" id="providerName" value="fip1v2" />
      <input name="uid" id="uid" value="<%= locals.uid %>" />
      <input name="scope" value="openid profile email adress phone birth" />
      <input name="acr_values" value="eidas1" />
      <button style="font-size: 2em; width: 100%; height: 300px; display: block;"
        onclick="document.location.href='/api/v2/redirect-to-idp';" id="idp-test">
        Continuer vers fip1v2
      </button>
    </form>
  </div>
</body>

</html>