<html>
    <head>
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
        <div style="width: 400px; margin: auto; margin-top: 200px; text-align: center;">
            <h1>Page liste des IdP</h1>
            <button
              style="font-size: 2em; width: 100%; height: 300px; display: block;"
              onclick="document.location.href='/interaction/<%= locals.uid %>/consent';"
            >Continuer vers un IdP</button>
        </div>
    </body>
</html>