body {
  margin-bottom: 5rem;
}

section {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

section.welcome {
  background-color: #209cee;
  color: #fff;
}

section.connect {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.no-pad {
  padding: 0;
}

#json {
  height: 22rem;
}

.country {
  margin: 50px 25px 25px 25px;
}

.country-btn {
  width: 400px;
  height: 150px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
