@import './../../styles/_colors.scss';
@import './../../styles/_variables.scss';

#identity-provider-search #fi-search-form {
  label[for='fi-search-term'] {
    color: $charcoal-grey;
    display: block;
    font-size: 18px;
    height: auto;
    line-height: 1.8rem;
    padding-bottom: $spacer;
    text-align: center;
  }

  input[name='fi-search-term'] {
    border: 1px solid #d9d9d9;
    border-radius: 0.25rem;
    float: none;
    height: 60px;
  }

  button[type='submit'] {
    display: block;
    height: 60px;
    margin-left: 0;
    margin-top: $spacer;
    width: 100%;

    &:hover {
      text-decoration: underline;
    }
  }

  .ant-input-group {
    display: flex;
    flex-direction: column;
  }

  .ant-input-group-addon {
    background: transparent;
    display: block;
    flex: 1;
    width: 100%;
  }
}

@media (min-width: $breakpoint-mobile) {
  #identity-provider-search #fi-search-form {
    label[for='fi-search-term'] {
      text-align: center;
    }

    button[type='submit'] {
      margin-top: 0;
      width: 100%;
    }

    .ant-input-group {
      flex-direction: row;
    }

    .ant-input-group-addon {
      flex: 0;
      padding-left: $spacer;
      width: 210px;
    }
  }
}
