@import './../../styles/_colors.scss';
@import './../../styles/_variables.scss';

#identity-provider-list {
  .h4 {
    font-weight: bold;
    margin-bottom: map-get($spacers, 4);
    text-align: left;
  }

  .ant-collapse {
    max-width: 100%;
  }
}

@media (min-width: $breakpoint-mobile) {
  #identity-provider-list {
    .h4 {
      text-align: center;
    }

    .ant-collapse {
      margin: 0 auto;
      max-width: 600px;
    }

    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
      color: $charcoal-grey;
    }

    .ant-collapse-item:not(.ant-collapse-item-active):hover {
      background: $blue-cornflower;
      box-shadow: 0 0 0 1px $primary;
    }
  }
}
