@import '~styles/_colors.scss';

.ant-collapse-header {
  padding-top: 25px !important;
}

.custom-card-border {
  border: 1px $blue-cornflower solid !important;

  &:hover {
    border: 1px $primary solid !important;
  }
}

.custom-animate-inner-icon {
  .custom-inner-icon {
    color: $blue-cornflower !important;
  }

  &:hover {
    .custom-inner-icon {
      font-weight: bold;
      color: $primary !important;
    }
  }
}
