.pc-hr-or {
  text-transform: none;
  font-weight: 500;
  white-space: nowrap;
}

/* -----------------------------------------------------------------

  OVERRIDES

----------------------------------------------------------------- */

.fr-footer__bottom-link {
  white-space: nowrap;
}

.fr-header__service-title {
  display: flex;
  align-items: center;
  color: var(--text-action-high-blue-france);
}

/* Delete the shadow and reduces the size of the header  */
.fr-header {
  background-color: transparent !important;
  filter: none !important;
}

.fr-header__brand {
  background-color: transparent !important;
  filter: none !important;
}

.fr-header__body-row {
  padding: 0.5rem 0 !important;
}
