/* general layout */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'content illu';
  align-items: center;
  justify-items: center;
}

/* onboarding layout container */

.onboarding-container > *:first-child {
  grid-area: content;
  max-width: 35rem;
  width: 100%;
  padding: 2.5rem 2rem;
}

.onboarding-container > *:last-child {
  grid-area: illu;
  background-color: #f9f9fe;
}

@media (max-width: 62em) {
  .onboarding-container > *:first-child {
    padding: 1rem;
  }
}

@media all and (max-width: 992px) {
  .onboarding-container {
    grid-template-columns: 100%;
    grid-template-areas: 'content';
  }

  .onboarding-container > *:first-child {
    padding: 2.5rem 1rem;
  }

  .onboarding-container > *:last-child {
    display: none;
  }
}

.centered-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background-alt-blue-france {
  background-color: #f5f5fe;
}

/* For links accessibility */
/* https://www.ffoodd.fr/masquage-accessible-de-pointe/index.html */

.visually-hidden,
.visually-hidden-focusable:not(:focus, :focus-within) {
  border: 0 !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.visually-hidden:not(caption),
.visually-hidden-focusable:not(caption):not(:focus, :focus-within) {
  position: absolute !important;
}

.visually-hidden *,
.visually-hidden-focusable:not(:focus, :focus-within) * {
  overflow: hidden !important;
}

/* Fix main overflow on footer on safari browser */
/* https://stackoverflow.com/questions/62075401/safari-grid-in-flexbox-produces-height-overflow */
/* selector for safari 9+ (see https://browserstrangeness.bitbucket.io/css_hacks.html#safari) */
@supports (-webkit-hyphens: none) {
  html,
  body,
  main {
    height: 100%;
  }

  main {
    z-index: 1;
  }
}
