.background-alt-blue-france {
  background-color: #f5f5fe;
}

.blue-france {
  color: #00008f !important;
}

.icon-btn-size {
  width: 1.2rem;
  height: 1.2rem;
}

/* For links accessibility */
/* https://www.ffoodd.fr/masquage-accessible-de-pointe/index.html */

.visually-hidden,
.visually-hidden-focusable:not(:focus, :focus-within) {
  border: 0 !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.visually-hidden:not(caption),
.visually-hidden-focusable:not(caption):not(:focus, :focus-within) {
  position: absolute !important;
}

.visually-hidden *,
.visually-hidden-focusable:not(:focus, :focus-within) * {
  overflow: hidden !important;
}

.btn--fullwidth {
  justify-content: center !important;
  width: 100% !important;
}

.centered-content {
  text-align: center;
}

/* Keep the footer off-screen except in the mobile version */
@media all and (min-width: 768px) and (max-width: 991px) {
  main {
    min-height: calc(100vh - 171.1px);
    display: flex;
    align-items: center;
  }
}

@media all and (min-width: 992px) {
  main {
    min-height: calc(100vh - 84.5px);
    display: flex;
    align-items: center;
  }
}
